<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!--    <link rel="icon" th:href="@{~/static/adminstatic/images/favicon.ico}"/>-->
    <!--jQuery-->
    <script th:src="@{~/static/adminstatic/script/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <!--bootstrap-->
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-3.3.7-dist/js/bootstrap.min.js}"
            type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{~/static/adminstatic/plug-in/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{~/static/adminstatic/plug-in/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css}"/>
    <!--bootstrap table-->
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-table/bootstrap-table.js}"></script>
    <link rel="stylesheet" th:href="@{~/static/adminstatic/plug-in/bootstrap-table/bootstrap-table.css}"/>
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

    <!--公用的js-->
    <script th:src="@{~/static/adminstatic/script/common.js}" type="text/javascript"></script>

    <!--font-awesome字体图标-->
    <link rel="stylesheet" th:href="@{~/static/adminstatic/plug-in/font-awesome/css/font-awesome.min.css}"/>
    <!--公用css-->
    <link rel="stylesheet" th:href="@{~/static/adminstatic/css/common.css}"/>
    <!--modal弹出框-->
    <script th:src="@{~/static/adminstatic/plug-in/base-modal.js}"></script>
    <!--文件上传插件-->
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-fileinput/js/fileinput.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/static/adminstatic/plug-in/bootstrap-fileinput/css/fileinput.min.css}"/>
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-fileinput/js/locales/zh.js}"></script>
    <!--bootstrap-validator-->
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-validator/js/bootstrapValidator.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{~/static/adminstatic/plug-in/bootstrap-validator/css/bootstrapValidator.min.css}"/>
    <script th:src="@{~/static/adminstatic/plug-in/bootstrap-validator/js/language/zh_CN.js}"></script>
</head>
</html>